/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500;600;700;800&display=swap");

/* full body */
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

/* header css */
header {
  width: 100%;
  margin-bottom: 70px;
}

/* nav-section */
nav {
  width: 80%;
  margin: 0 auto;
  font-family: "Poppins", sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-left h2 {
  font-weight: 700;
  font-size: 24px;
  color: #e02c6d;
}

.header-right a {
  color: #3a3a3a;
  margin-left: 35px;
  font-size: 16px;
}

.header-right i {
  color: #3a3a3a;
  margin-left: 35px;
}

/* brand icon */
.brand-icon {
  width: 75%;
  margin: 0 auto;
  margin-top: 70px;
}

.logo-section {
  padding: 20px 30px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.logo-section img {
  width: 84px;
  cursor: pointer;
}

/* header banner start */
.full-banner {
  display: flex;
  justify-content: center;
}

.banner-title {
  margin-top: 100px;
}
.title {
  color: #3a3a3a;
  width: 580px;
  font-size: 52px;
}
.banner-text {
  color: #3a3a3a;
  width: 480px;
  margin-bottom: 40px;
}
.banner-title a {
  color: #ffff;
  text-decoration: none;
  border-radius: 30px;
  padding: 10px 24px;
  background-color: #e02c6d;
  align-items: center;
}
header > .full-banner:hover > .banner-img {
  transform: scale(1.2);
}
.banner-title a:hover {
  opacity: 0.9;
}

.pree-btn {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}
.banner-img:hover {
  opacity: 0.9;
}

.banner-img {
  padding-left: 40px;
  margin-top: 50px;
  transition: 2s ease;
}

.banner-img img {
  height: 400px;
  width: 450px;
}

.ml-8 {
  margin-left: 8px;
}
/* header ends here */

/* -------------
    main css starts here
  ----------------*/
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container {
  width: 1080px;
  padding-left: 60px;
  padding-bottom: 40px;
}
.section-title {
  font-size: 42px;
  color: #0a0826;
  text-align: center;
  margin-top: 25px;
  color: #3a3a3a;
}

/*------------------------
     Popular section css starts here 
  -------------------------*/
.products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 30px;
  grid-column-gap: 30px;
  margin-top: 30px;
}

.product {
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.05), 0 0 40px rgba(0, 0, 0, 0.05);
}
.product-name {
  font-size: 28px;
  font-weight: 500;
  margin: 5px;
  padding-bottom: 2px;
}

.product-price {
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.87);
  margin-top: 0;
  margin-bottom: 6px;
  padding-top: 0;
  padding-bottom: 3px;
}

.fa-star {
  font-size: 12px;
}

.fa-star.filled {
  color: #ffc014;
}

.fa-star.empty {
  color: #aeaeae;
}

.rating {
  color: rgba(94, 99, 102, 1);
  margin-left: 10px;
}

.product-description {
  color: rgba(120, 120, 133, 1);
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 700;
  margin: 2px;
  padding: 2px;
}

.see-more {
  margin-top: 10px;
  padding-top: 10px;
  text-align-last: end;
  font-size: 16px;
}

.see-more a {
  text-decoration: none;
  color: rgba(224, 44, 109, 0.87);
}
/*-----------------------------
     Popular css ends here 
  ----------------------------*/

/* blog section */
.blogs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 30px;
  column-gap: 40px;
  margin-top: 30px;
  padding-bottom: 40px;
}
.blog {
  display: flex;
}
.blog-img img {
  width: 320px;
  height: 200px;
  border-radius: 6px;
  box-shadow: 1px 2px 18px grey;
}
.blog-info {
  padding: 40px 0 0 20px;
}
.blog-info h4 {
  font-size: 24px;
  color: #0a0826;
  padding-bottom: 10px;
}
.blog-info p {
  color: rgb(114, 114, 114);
}
.blog-info a {
  text-decoration: none;
  color: #e02c6d;
}

/* -------------
    main css ends here
  ----------------*/

/* footer css starts here */
.footer {
  background-color: #0a0826;
  padding: 50px 0;
}
.footer-content {
  color: white;
  text-align: center;
}
.footer-content p {
  font-size: 12px;
  line-height: 24px;
  margin-bottom: 10px;
}
.footer-content i {
  font-size: 18px;
  color: white;
  width: 27px;
  height: 22px;
  border-radius: 50%;
  background-color: #ffffff17;
  padding: 8px;
  margin: 5px;
}
/* footer css ends here */

/*-----------------------------
    For Mobile Devices 
  -----------------------------*/
@media only screen and (max-width: 688px) {
  /* nav-section */
  nav {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .header-right {
    margin-top: 10px;
  }
  .header-right a {
    color: #e02c6d;
    margin-left: 10px;
    font-size: 16px;
  }
  .header-right i {
    color: #e02c6d;
    margin-left: 10px;
  }
  /* header part starts */
  .full-banner {
    flex-direction: column;
  }
  .title {
    width: 100%;
    font-size: 34px;
    text-align: center;
    padding-bottom: 20px;
  }
  .banner-text {
    width: 100%;
    text-align: center;
  }
  .pree-btn {
    margin-left: 30%;
  }
  .banner-img img {
    width: 90%;
  }
  /* header part ends */
  .container {
    width: 100%;
  }
  .section-title {
    font-size: 32px;
  }
  .products,
  .models,
  .blogs {
    grid-template-columns: repeat(1, 1fr);
  }

  .product,
  .blog {
    flex-direction: column;
  }
  .product-banner img,
  .model img,
  .blog-img img {
    width: 90%;
    margin: 5px;
    padding-left: 0;
    margin-left: 0;
  }
  .see-more {
    text-align-last: center;
  }

  /* top customers */
}

/*----------------------------
    For Tablet Devices 
    --------------------------*/
@media only screen and (min-width: 688px) and (max-width: 992px) {
  /* nav-section */
  nav {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .header-left h2 {
    font-size: 50px;
  }
  .header-right {
    margin-top: 15px;
  }
  .header-right i {
    font-size: 35px;
    margin-left: 10px;
    color: #e02c6d;
  }
  .header-right a {
    color: #e02c6d;
    margin-left: 10px;
    font-size: 30px;
  }

  /* header part starts */
  .full-banner {
    flex-direction: column;
  }
  .title {
    width: 100%;
    font-size: 42px;
    text-align: center;
    padding-bottom: 20px;
  }
  .banner-text {
    width: 100%;
    text-align: center;
  }
  .pree-btn {
    margin-left: 40%;
  }
  .banner-img img {
    width: 90%;
  }

  .container {
    width: 100%;
  }

  .product-banner img,
  .blog-img img {
    width: 90%;
    margin: 5px;
    padding-left: 0;
    margin-left: 0;
  }

  .products,
  .blogs {
    grid-template-columns: repeat(2, 1fr);
  }
  .blog {
    flex-direction: column;
  }
  .see-more {
    text-align-last: start;
  }
  /* models */
  .models {
    grid-template-columns: repeat(1, 1fr);
  }
  .model {
    margin: 0 auto;
  }
}
