/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@600&family=Manrope:wght@600&family=Poppins:wght@600;700&display=swap");

/* common styles */
body {
  font-family: "Poppins", sans-serif;
  background-color: #ffffff;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  width: 1050px;
  margin-top: 21px;
}

.section-title {
  font-size: 28px;
  font-weight: 600;
  color: #3a3a3a;
  text-align: center;
}

.products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 30px;
}

.product {
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.05), 0 0 40px rgba(0, 0, 0, 0.05);
}

/* .product .product-banner img {
  width: 1fr;
  height: 1fr;
  margin: 2px;
} */

.product-name {
  font-size: 28px;
  font-weight: 500;
  margin: 5px;
  padding-bottom: 2px;
}

.product-price {
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.87);
  margin-top: 0;
  margin-bottom: 6px;
  padding-top: 0;
  padding-bottom: 3px;
}

.fa-star {
  font-size: 12px;
}

.fa-star.filled {
  color: #ffc014;
}

.fa-star.empty {
  color: #aeaeae;
}

.rating {
  color: rgba(94, 99, 102, 1);
  margin-left: 10px;
}

.product-description {
  color: rgba(120, 120, 133, 1);
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 700;
  margin: 2px;
  padding: 2px;
}

.see-more {
  margin-top: 10px;
  padding-top: 10px;
  text-align-last: right;
  font-size: 16px;
}

.see-more a {
  text-decoration: none;
  color: rgba(224, 44, 109, 0.87);
}

/* Media Queries */

/* Mobile Devices */
@media only screen and (max-width: 688px) {
  .container {
    width: 100%;
  }

  .product .product-banner img {
    width: 100%;
    margin: 5px;
    padding-left: 0;
    margin-left: 0;
  }

  .products {
    grid-template-columns: repeat(1, 1fr);
  }

  .product {
    flex-direction: column;
  }
}

/* Tablet Devices */
@media only screen and (min-width: 688px) and (max-width: 992px) {
  .container {
    width: 100%;
  }

  .product .product-banner img {
    width: 100%;
    margin: 5px;
    padding-left: 0;
    margin-left: 0;
  }

  .products {
    grid-template-columns: repeat(2, 1fr);
  }
  /* .blogs {
    grid-template-columns: repeat(1, 1fr);
  } */
}
